
/*@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);*/

@font-face {
    font-family: "Sans";
    src:url(../fonts/OpenSans-Semibold.ttf) format("truetype");
    /* url(../fonts/OpenSans-Bold.ttf) format("truetype"),
         url(../fonts/OpenSans-ExtraBold.ttf) format("truetype"),
    	url(../fonts/OpenSans-Light.ttf) format("truetype"),
    	url(../fonts/OpenSans-Regular.ttf) format("truetype"),
    	url(../fonts/OpenSans-Light.ttf) format("truetype");*/
    	
    	
    	

}

/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}*/
body
{
	margin:0;
	padding: 0;
	font-family: "Sans", sans-serif;
	background-color: #FFFFFF;
	overflow-y: scroll;
	overflow-x: hidden;

}
/*Estilos adicionales de la encuesta*/
.incluyente{
	background-image:url("../images/excluye.png"); 
	background-repeat: no-repeat;
	background-position: 420px 30px;
}

/*Estilos para cierre encuesta Monito***************************/


#monitor{
	float: right;
	text-decoration:none;
	cursor:pointer;
	/*background-color: gray;*/
	position:absolute;
    top:0px;
    right:0px;

	position: absolute;
}
#form_cierre {
	position: absolute;
	margin: 0 auto;
	width: 100%;

}
/*#monitor:hover{
	/*color: red;
	background-color: gray;*/
}/*

/*Fin estilos Encuesta monitor***********************/

.fondo_v{
	background-color: gray;
	opacity: 30%;
	position: absolute;
	
}
.emerge
{
    display: inline-block;
    margin-top: 20px;
}
header
{
	height: 10%;
	/*position: relative;	*/
}

footer{
	/*margin:10% 0 0 0px;*/
	bottom: 0px;
	height: 10%;
	position: absolute;
	background-color: #91224C; 	
	color: #FFFFFF;
	text-align: center;

}

#logo
{
	float: left;
	margin: 10px 0px 0px 5%;

}
/*estilos login-----------**/
#cont_ppal{
	/*top: 30%;*/
	
	margin: 0;
	padding: 0;
	height: 100%;
	/*width: 80%;*/
	position: relative;
	background-image: url("../images/fondo_1.png");
	background-repeat: repeat-x;
	/*background-color: gray;*/
} 
.contenido{/*para el login!*/
	float: center;
	width: 46%;
	height: 400px;
	margin: 5% 0 0 27%;
	background-color:#FDFDFD;
	border: solid;
	border-color:#91224C;
	/*overflow: auto;*/
	/*position: absolute;*/
	
}
#cont_iz{
 	float: left;
	width: 50%;
	margin: 0px 0px 0 5%;
	text-align: justify;
	/*position: absolute;
	height: 500px;*/
	
	
}
#cont_der{
	float: left;
	width: 40%;
	margin: 50px 0px 0px 10px;
	border-left:thin solid #91224C;
	padding: 0px 0px 0px 30px;
	position: relative;
	 /*position: absolute;*/
	height: 295px;
}
/*#campos{
	
	/*width: 50%;
	height: 100%;
	margin: 0 0 0 37%;
	
}*/
.terminos {/*Texto desglosado de los termino*/
	float: left;
	display: none;
	margin: 30px 10px 0 20px;
	font-size: 9px;
	text-align: justify;
}
#ver_terminos span{/*Texto que indica ver los termino*/
	font-size: 10px;
}
.cont_bt{
	position: relative;
	top: 130px;
}
.bt_ini{
	/*margin: 100px;*/
	position:absolute;
    bottom:0px;
    right:10px;
	/*position: absolute;*/
/*	background-color: #91224C; 	
	color: #FFFFFF;
	text-align: center;*/
}

.negrita{
	font-weight: bold; 	
}

.parrafo2{
	margin-top: 30px;
	background-color: #E6E6E8;
	padding: 0.2px 10px 0 0px;
}
.btn{
	background-color:#91224C;
	color: #FFFFFF;
}
.btn_ini{
	background-color:#91224C;
	color: #FFFFFF;
}


.login{

	margin: 0 0 0 0%;
	overflow: auto;
}

/**********************/
label{
font-size: 1.3em;
}
.t_error{/*Mensajes de error para cada pregunta*/
	color: red;
}
#A2{
	display: visible;
}

.pagina
{
	display: none;
}

.label25{
	text-align: center;

}
.sub_raya{
	text-decoration: underline;
	/*border-bottom: thin solid #91224C;*/
}
.sub_t{/*Para los subtitulos de cada sección*/
	border-radius: 25px 25px 4px 25px;
-moz-border-radius: 25px 25px 4px 25px;
-webkit-border-radius: 25px 25px 4px 25px;
border: 0px solid #000000;
	color: #dceb11;
	padding: 10px;
	background:  #8b6dad;
	box-shadow: 10px 10px 5px #888888;
}
.sub_t:hover{
		background:  #dceb11;
		color:#8b6dad;
}

.defini {
	background-color: green;
	/*height: 7em;*/
}


.line{
	background-color: black;
	height: 3px;
	width: 90%;
}
